{% extends 'base.html' %}
{% load static %}
{% block title %}Search {% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
           <div class="row">
                {% for pl in place %}
                        <div class="col-sm-4 text-center mb-4 hover-shadow">
                            <form action="{% url 'search' %}"  method="get" class="btn"><div>
                            <img src="{{pl.image.url}}"  width="300px" height="200px" alt=""/>
                            <div class="fw-bold">{{pl.name}}</div>
                            <div class="fw-bold text-danger">Rs.{{pl.offerprice}}/-
                            <small class="fw-light text-decoration-line-through">{{pl.price}}</small>
                            </div>
                            </div></form>
                        </div>
                {% endfor %}
           </div>
        </div>
    </div>
  </div>
{% endblock main-content %}